files:
  "/etc/httpd/conf/httpd.conf":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      ServerRoot "/etc/httpd"
      Listen 80
      Include conf.modules.d/*.conf

      User webapp
      Group webapp

      ServerAdmin root@localhost

      <Directory />
          AllowOverride none
          Require all denied
      </Directory>

      DocumentRoot "/var/www/html/public/"

      <Directory "/var/www">
          AllowOverride All
          Require all granted
      </Directory>

      <Directory "/var/www/html/public">
          Options FollowSymLinks
          AllowOverride All
          Require all granted
      </Directory>

      <IfModule dir_module>
          DirectoryIndex index.php index.html
      </IfModule>

      <Files ".ht*">
          Require all denied
      </Files>

      ErrorLog "logs/error_log"
      LogLevel warn

      <IfModule log_config_module>
          LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
          LogFormat "%h %l %u %t \"%r\" %>s %b" common

          <IfModule logio_module>
            LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %I %O" combinedio
          </IfModule>

          CustomLog "logs/access_log" combined
      </IfModule>

      <IfModule alias_module>
          ScriptAlias /cgi-bin/ "/var/www/cgi-bin/"
      </IfModule>

      <Directory "/var/www/cgi-bin">
          AllowOverride All
          Options None
          Require all granted
      </Directory>

      <IfModule mime_module>
          TypesConfig /etc/mime.types

          AddType application/x-compress .Z
          AddType application/x-gzip .gz .tgz
          AddType text/html .shtml
          AddOutputFilter INCLUDES .shtml
      </IfModule>

      AddDefaultCharset UTF-8

      <IfModule mime_magic_module>
          MIMEMagicFile conf/magic
      </IfModule>

      EnableSendfile on
      IncludeOptional conf.d/*.conf
      FileETag none
      Header unset Server
      Header unset X-Powered-By
      ServerSignature Off
      ServerTokens Prod

      <Location /server-status>
         SetHandler server-status
         Require ip 127.0.0.1
      </Location>

      KeepAlive On

      <Directory "/var/www/html">
          Options FollowSymLinks
          AllowOverride All
          DirectoryIndex index.html index.php
          Require all granted
      </Directory>

      LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
  "/etc/httpd/conf.d/virtualhost.conf":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      NameVirtualHost *:80
      <VirtualHost *:80>
        DocumentRoot /var/www/html/public
        <Directory "/var/www/html/public">
          Allow from all
        </Directory>
      </VirtualHost>
