files:
  "/tmp/cron_jobs":
    mode: "000777"
    content: |
      HOME=/var/app/current
      * * * * * cd /var/app/current/ && source /opt/elasticbeanstalk/support/envvars && php oil refine minutely
      * * * * * cd /var/app/current/ && source /opt/elasticbeanstalk/support/envvars && php oil refine web_socket

container_commands:
  03_delete_cron_jobs:
    command: "crontab -r -u webapp || exit 0"
  04_add_cron_jobs:
    command: "crontab /tmp/cron_jobs -u webapp"
    leader_only: true
