
@import "core";
@import "navigation";
@import "item-block";
@import "alerts";
@import "popups";
@import "pagination";

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-size: $default-font-size;
	line-height: 1.428571429;
}

.hidden {
	display: none;
}

.freeze {
	overflow: hidden;
}

.slideout-panel {
	height: 100%;
	position:relative;
	z-index: 1;
	will-change: transform;
	background-color: #ffffff;
}

.menu-header {
	overflow: hidden;
	border-bottom: 1px solid gray;

	@media screen and (max-width: $max-screen) {
		background-color: #F6F6F6;
	}

	h1 {
		margin: 60px 30px 10px;
		display: block;
		font-weight: normal;
		line-height: 1.1;
		@media screen and (max-width: $max-screen) {
			margin: 0;
			padding-top: 5px;
			padding-right: 30px;
			text-align: center;
		}
	}

	.btn-hamburger {
		display: none;

		@media screen and (max-width: $max-screen) {
			display: block;
			float: left;
			outline: none;
			border: 0;
			padding: 10px;
			width: 49px;
			height: 49px;
			background-color: transparent;

			.hamburger-icon {
				height: 4px;
				width: 100%;
				border-radius: 1px;
				background-color: #000;
				position: relative;
				display: block;
				margin-top: 0;

				&:before {
					@extend .hamburger-icon;
					position: absolute;
					content: " ";
					top: -10px;
					left: 0;
				}

				&:after {
					@extend .hamburger-icon;
					position: absolute;
					content: " ";
					top: 10px;
				}
			}
		}
	}
}

.wrapper {
	margin-top: 10px;
	@media screen and (max-width: $max-screen) {
		margin-top: 0;
	}
}

.bid-form {
	position: relative;
	left: 50%;
	margin-left: -200px;
	margin-bottom: 50px;
	padding: 20px;
	background-color: #eeeeee;
	text-align: center;
	width: 400px;
	border-radius: 20px;
}

.sort-form {
	margin-top: 10px;
	text-align: center;
}

.create-part-hide, .add-vendor, .add-finance {
	width: 100%;
	position: absolute;
	top: 58px;
	z-index: 2;

	.refresh-button, .add-button {
		position: absolute;
		right: 22px;
		top: -4px;
		font-size: 200%;
		cursor: pointer;
	}

	.create-box {
		position: absolute;
		right: 80px;
	}

	input {
		width: 80px;
		height: 30px;
		padding: 2px;
		margin-left: 2px;
	}

	button {
		padding: 2px 8px;
	}

	.refresh-confirm {
		display: none;
		position: absolute;
		right: 6px;
		top: 50px;
		border: 1px solid #b0b0b0;
		padding: 20px;
		border-radius: 2px;
		background-color: #fff;

		> div {
			padding-bottom: 10px;
			text-align: center;

			input {
				width: 45px;
			}
		}

		&:after, &:before {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		
		&:after {
			border-color: rgba(0, 0, 0, 0);
			border-bottom-color: #fff;
			border-width: 17px;
			margin-left: 55px;
		}

		&:before {
			border-color: rgba(0, 0, 0, 0);
			border-bottom-color: #b0b0b0;
			border-width: 18px;
			margin-left: 54px;
		}
	}
}
